.settings/

Debug/
Drivers/
Core/Startup/

Core/Inc/stm32f4xx_hal_conf.h
Core/Inc/stm32f4xx_it.h

Core/Src/syscall.c
Core/Src/sysmem.c
Core/Src/stm32f4xx_hal_map.c
Core/Src/stm32f4xx_it.c

*.launch
*.ioc
*.ld